on:
    push:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: lts/gallium
                  cache: npm
            - run: npm ci
            - run: npm run build
            - uses: actions/upload-artifact@v3
              with:
                  path: |
                      main.js
                      manifest.json
